@model SophartVidly.Models.Customer
@{
    ViewBag.Title = "Detail";
}

<h2>@Model.Name</h2>

<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>
    @if (Model.BirthDate != null)
    {
        <li>Date of Birth: @Model.BirthDate.Value.ToShortDateString()</li>
    }

</ul>
