@model IEnumerable<SophartVidly.Models.Movie>
@{
    ViewBag.Title = "Index";
}

<h2>Movies</h2>

@Html.ActionLink("Create Movie", "Create", null,new { @class = "btn mb-3 btn-primary" })

@if (!Model.Any())
{
    <p>No Movies</p>
}
else
{

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Genre</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(@movie.Name, "Update", new { movie.Id })
                    </td>
                    <td>
                       @movie.Genre.Name
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

