@model SophartVidly.ViewModels.MovieViewModel
@{
    ViewBag.Title = "Index";
}

<h2>@Model.Movie.Name</h2>

<h3>Rented by:</h3>
<ul>
    @foreach (var customer in Model.Customers)
    {
        <li>@customer.Name</li>
    }
</ul>