@model SophartVidly.ViewModels.MovieViewModel
@{
    ViewBag.Title = "Index";
}

<h2>@Model.Movie.Name</h2>

@{ 
    var className = Model.Customers.Count > 2 ? "popular" : null;
}

<h3 class="@className">Rented by:</h3>
<ul>
    @foreach (var customer in Model.Customers)
    {
        <li>@customer.Name</li>
    }
</ul>